# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [1]:
student_list = ["Mauro", "Daniel", "Adrián"]

### Exercise 2

1. Create an empty list, call it **empty_list**

In [2]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [3]:
my_list = [2, 'c', [2,4], True, (3,)]

3. Find the length of **my_list**

In [4]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [5]:
print(my_list[0])
print(my_list[(len(my_list)-1)//2])
print(my_list[-1])

2
[2, 4]
(3,)

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [6]:
name = 'José'
age = 28
height = 1.70
country = 'España'
python_version = '3.7.4'

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [7]:
mixed_data_types = [name, age, height, country, python_version]
mixed_data_types

['José', 28, 1.7, 'España', '3.7.4']

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [8]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [9]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [10]:
print(len(it_companies))

7

11. Print *Google*

In [11]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [12]:
print(it_companies[0])
print(it_companies[(len(it_companies)-1)//2])
print(it_companies[-1])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [13]:
it_companies[-1] = 'Intel'

12. Print the list after modifying one of the companies

In [14]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Intel']

## Bonus track.

13. Add an IT company to **it_companies**

In [15]:
it_companies.append('AMD')

14. Check if *Apple* exists in the **it_companies** list.

In [16]:
'Apple' in it_companies

True

15. Sort the list using `sort()` method

In [17]:
it_companies.sort()
it_companies

['AMD', 'Apple', 'Facebook', 'Google', 'IBM', 'Intel', 'Microsoft', 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [18]:
it_companies.reverse()
it_companies

['Oracle', 'Microsoft', 'Intel', 'IBM', 'Google', 'Facebook', 'Apple', 'AMD']

17. Slice out the first 3 companies from the list

In [19]:
it_companies[3:]

['IBM', 'Google', 'Facebook', 'Apple', 'AMD']

18. Remove the last IT company from the list

In [20]:
it_companies[:-1]

['Oracle', 'Microsoft', 'Intel', 'IBM', 'Google', 'Facebook', 'Apple']

19. Remove all IT companies from the list

In [21]:
it_companies.clear()

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [22]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [23]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [24]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [25]:
tup = ('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [26]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [27]:
# You can't do it because tupples are inmutable objects'. Method append() is not a method of the tuple clase.

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [28]:
# Tuples don't support item assignment either.

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [29]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [30]:
my_set = set(lista_repes)

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [31]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [54]:
print(list(my_set)[0])

data