# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [9]:
serie1 = pd.Series(np.random.randint(low=1, high=4, size=100))
serie2 = pd.Series(np.random.randint(low=1, high=3, size=100))
serie3 = pd.Series(np.random.randint(low=10000, high=30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [12]:
df = pd.DataFrame([serie1, serie2, serie3]).transpose()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    int64
 1   1       100 non-null    int64
 2   2       100 non-null    int64
dtypes: int64(3)
memory usage: 2.5 KB

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [13]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

In [14]:
df.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            28138
1      3       1            14022
2      1       2            20656
3      1       1            26301
4      2       2            28214

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [18]:
big_column = pd.DataFrame(pd.concat([serie1, serie2, serie3], axis='rows'))
big_column.head()

   0
0  2
1  3
2  1
3  1
4  2

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [19]:
big_column.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       300 non-null    int64
dtypes: int64(1)
memory usage: 4.7 KB

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [20]:
big_column.reset_index(drop=True, inplace=True)

In [21]:
big_column.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       300 non-null    int64
dtypes: int64(1)
memory usage: 2.5 KB