# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [1]:
dictionary = {5 : 'val'}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [7]:
city_list = ['Cádiz', 'Madrid', 'Sevilla', 'Córdoba']
city_landmarks = ['Gran Teatro Falla', 'Museo Nacional del Prado', 'El Real Alcázar', 'Mezquita-catedral de Córdoba']

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [8]:
city_dict = {}
for i in range(len(city_list)):
    city_dict[city_list[i]] = city_landmarks[i]
city_dict

{'Cádiz': 'Gran Teatro Falla',
 'Madrid': 'Museo Nacional del Prado',
 'Sevilla': 'El Real Alcázar',
 'Córdoba': 'Mezquita-catedral de Córdoba'}

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [11]:
for key in city_dict.keys():
    if key[0] == 'M':
        print(key, city_dict[key], sep=' ---> ')

Madrid ---> Museo Nacional del Prado

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [12]:
def create_dictionary(list1, list2):
    created_dict = {}
    for i in range(len(list1)):
       created_dict[list1[i]] = list2[i]
    return created_dict

city_dict2 = create_dictionary(city_list, city_landmarks)
city_dict2

{'Cádiz': 'Gran Teatro Falla',
 'Madrid': 'Museo Nacional del Prado',
 'Sevilla': 'El Real Alcázar',
 'Córdoba': 'Mezquita-catedral de Córdoba'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [ ]:
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary.

In [19]:
dog = {'name': 'Leia', 'color': 'red', 'breed': 'Shiba inu', 'legs': 4, 'age': 8 }
dog

{'name': 'Leia', 'color': 'red', 'breed': 'Shiba inu', 'legs': 4, 'age': 8}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [24]:
student = {'first_name': 'José Carlos', 'last_name': 'Batista Rivero', 'age': 28, 
        'skills': ['programming', 'gaming', 'procrastination'],
        'country': 'España', 'city': 'Cádiz', 'address': 'C/ Goleta, nº7 4ºA'}
student
# He usado una doble identación para la declaración de student.
# No se si esta bien o hay formas mas correctas.

{'first_name': 'José Carlos',
 'last_name': 'Batista Rivero',
 'age': 28,
 'skills': ['programming', 'gaming', 'procrastination'],
 'country': 'España',
 'city': 'Cádiz',
 'address': 'C/ Goleta, nº7 4ºA'}

4. Get the length of the student dictionary.

In [25]:
len(student)

7

5. Get the value of skills and check the data type, it should be a list.

In [27]:
print(student['skills'])
print(type(student['skills']))

['programming', 'gaming', 'procrastination']
<class 'list'>

6. Modify the skills values by adding one or two skills.

In [28]:
student['skills'].append('critical thinking')
student['skills'].append('creativity')
student

{'first_name': 'José Carlos',
 'last_name': 'Batista Rivero',
 'age': 28,
 'skills': ['programming',
  'gaming',
  'procrastination',
  'critical thinking',
  'creativity'],
 'country': 'España',
 'city': 'Cádiz',
 'address': 'C/ Goleta, nº7 4ºA'}

7. Get the dictionary keys as a list.

In [30]:
list(student.keys())

['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'address']

8. Get the dictionary values as a list.

In [31]:
list(student.values())

['José Carlos',
 'Batista Rivero',
 28,
 ['programming',
  'gaming',
  'procrastination',
  'critical thinking',
  'creativity'],
 'España',
 'Cádiz',
 'C/ Goleta, nº7 4ºA']

9. Change the dictionary to a list of tuples using `items()` method

In [37]:
list(student.items())

[('first_name', 'José Carlos'),
 ('last_name', 'Batista Rivero'),
 ('age', 28),
 ('skills',
  ['programming',
   'gaming',
   'procrastination',
   'critical thinking',
   'creativity']),
 ('country', 'España'),
 ('city', 'Cádiz'),
 ('address', 'C/ Goleta, nº7 4ºA')]

10. Delete one of the items in the dictionary.

In [38]:
del student['country']
student

{'first_name': 'José Carlos',
 'last_name': 'Batista Rivero',
 'age': 28,
 'skills': ['programming',
  'gaming',
  'procrastination',
  'critical thinking',
  'creativity'],
 'city': 'Cádiz',
 'address': 'C/ Goleta, nº7 4ºA'}

### Bonus Track

**Tómate un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)